name: Documentation

on:
  push:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      
      - name: Doxygen Action
        uses: mattnotmitt/doxygen-action@v1.2.3
        with:
          doxyfile-path: ./Doxyfile
          working-directory: .